*{
	padding: 0;
	margin:0;
}

body{
	background-color: gray;
}

.MotherContainer{
	height: 400px;
	width:400px;
	margin:0 auto;
	margin-top: 100px;
	background-color: white;

	border-radius: 20px;
}

img{
	width: 20px;
	height: 20px;
}

.title h1{
	display: inline-block;
}